.icon {
  margin-right: 72px;
}
body {
  background-color: #a9a9a9a1;
}
img{
  max-width: 100%;
}
p{
  margin: 0;
}
a.navbar-brand {
  margin-left: 37px;
  color: white;
}
nav.navbar.navbar-expand-lg.navbar-light {
  background-color: #6a6868;
}
h1.products {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 34px;
  color: white;
}
.product_card{
  border-radius: 0px;
  background-color: #fff;
  height: 100%;
}
.product_card .thumImg{
  border-radius: 0px;
  background-color: #fff;
  height: 100%;
  /* display: flex;
  align-items: center; */
}
.product_card .thumImg img{
  object-fit: cover;
}
.product_card .card-body {
  padding: 1rem;
}
.product_card button {
  width: 147px;
  margin-top: 10px;
}

.input-group.rounded {
  width: 241px;
  margin-left: 538px;
  margin-top: 27px;
}
i.fas.fa-shopping-cart {
  cursor: pointer;
}
i.fas.fa-shopping-cart {
  color: white;
}


input.form-control.rounded {
  margin-left: 8px;
  margin-right: -25px;
}
p.card-text1 {
  margin-top: -23px;
}
p.card-text2 {
  margin-left: 136px;
  margin-top: -42px;
}
p.card-text3 {
  margin-left: 294px;
  margin-top: -39px;
}
img.imgs {
  /* object-fit: cover; */
  object-fit: cover;
  width: 350px;
  height: 117px;
}
button.btn.btn-outline-info {
  /* margin-top: -311px; */
  margin-left: 212px;
  margin-top: 1px;
  width: 122px;
}
h5.card-title1 {
  margin-top: 11px;
  margin-left: 10px;
  font-size: 19px;
  font-weight: 300;
}
.offcanvas-body {
  background-color: #dceefd96;
  overflow: auto;
  margin-top: 9px;
}

.offcanvas-body .card.w-90 {
  margin-bottom: 20px;
  padding-bottom: 4px;
}


.offcanvas-header {
  background-color: #dceefd
}
button.btn.btn-outline-success {
  margin-left: 1147px;
}

.offcanvascardtext {
  padding-bottom: -1px;
  margin-left: 25px;
  margin-top: -37px;
}
.offcanvascardtext1 {
  margin-left: 24px;
}
.offcanvascardtext2 {
  margin-left: 26px;
  padding-top: 2px;
}
.removebutton {
  margin-top: 21px;
  margin-left: -9px;
}
.searchinput {
  margin-bottom: 30px;
}
.buttonsuccess {
  margin-top: -38px;
  margin-left: -456px;
}
.butonprimary {
  margin-top: -11px;
  margin-left: 611px;
}
